<h2>{{title}}</h2>

<table>
  <tr>
    <th>Match Day</th>
    <th>Home Team</th>
    <th>Score</th>
    <th>Away Team</th>
    <th>Score</th>
  </tr>
  <tr *ngFor="let lastfivegames of lastfivegame">
      <td>{{lastfivegames.matchday}}</td>
      <td>{{lastfivegames.homeTeam.name}}</td>
      <td>{{lastfivegames.score.fullTime.homeTeam}}</td>
      <td>{{lastfivegames.awayTeam.name}}</td>
      <td>{{lastfivegames.score.fullTime.awayTeam}}</td>
  </tr>
</table>
