<h2>{{title}}</h2>
<table>
  <tr>
    <th>Date</th>
    <th>Team</th>
    <th>Scores</th>
    <th>Shots</th>
    <th>Possession</th>
    <th>Passes</th>
    <th>Fouls</th>
    <th>Bookings</th>
    <th>Offsides</th>
    <th>Corners</th>
  </tr>
  <tr *ngFor="let lastgames of lastgame">
      <td>{{lastgames.team}}</td>
      <td>{{lastgames.scores}}</td>
      <td>{{lastgames.shots}}</td>
      <td>{{lastgames.possession}}</td>
      <td>{{lastgames.passes}}</td>
      <td>{{lastgames.fouls}}</td>
      <td>{{lastgames.bookings}}</td>
      <td>{{lastgames.offsides}}</td>
      <td>{{lastgames.corners}}</td>
  </tr>
</table>
