
  p{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.23em;
    text-align: center;
  }
  
  table{
    margin-left: auto;
    margin-right: auto;
  }
  
  .lastGame { 
    position: relative;
    top: 30px;
  }
  
  #lastGameContent{
    border: 2px solid #e3e3e3;
    width: 40%;
    height: 80px;  
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 300;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.15em;
    margin-bottom: 10px;
  }
  
  #score{
    width:50px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 500;
    font-size: 12px;
  
  }

table#lastGameContent:nth-child(even) {
    background:#E3E3E3;
}

table:nth-child(even) tr td#mylistcolor{
  background:#E3E3E3;
}
table#lastGameContent:nth-child(odd)  {
    background-color: #FFFFFF;
}

span {
  vertical-align: bottom;
  background-color: #e3e3e3; 
  border-radius: 10px 10px 0px 0px; 
  padding: 3px 15px 7px 15px;
}

table#lastGameContent:nth-child(even) span{
  background:#ffffff;

 
}