<h2>{{title}}</h2>

<!-- player performance stuff -->
<table>
  <tr>
    <th>Player name</th>
    <th>Position</th>
    <th>Role</th>
    <th>Goals</th>
  </tr>
  <tr *ngFor="let player of squad">
      <td>{{player.name}}</td>
      <td>{{player.position}}</td>
      <td>{{player.role}}</td>
      <td>{{addScoresToSquad(player)}}</td>
  </tr>
</table>
