<h2>{{title}}</h2>
<!-- display top goal scorers -->
<table>
  <tr>
    <th>Player name</th>
    <th>Position</th>
    <th>Goals</th>
  </tr>
  <tr *ngFor="let top of goals">
      <td>{{top.player.name}}</td>
      <td>{{top.player.position}}</td>
      <td>{{top.numberOfGoals}}</td>
  </tr>
</table>
