<h2>{{title}}</h2>
<table>
  <tr>
    <th>Date</th>
    <th>Team</th>
    <th>Scores</th>

  </tr>
  <tr *ngFor="let lastgamesresult of lastgameresults">
      <td>{{lastgamesresult.team}}</td>
      <td>{{lastgamesresult.scores}}</td>
      <td>{{lastgamesresult.shots}}</td>
  </tr>
</table>
