#title {
  text-align: center;
  font-size: 40px;
}

nav {
  text-align: center;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 5px;
  display: inline-block;
  background-color: #e3e3e3;
  border-radius: 4px;
  font-size: 15px;
}

nav a:visited, a:link {
  color: #334953;
}

nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}

img {
  width: 100px;
  height: auto;
  float: left;
}

#crest {
  float: left;
  position: absolute;
}

footer {
  text-align: center;
  font-size: 15px;
}
