<h2>{{title}}</h2>

<table>
  <tr>
    <th>Match Day</th>
    <th>Winner</th>
    <th>Home Team</th>
    <th>Score</th>
    <th>Away Team</th>
    <th>Score</th>
  </tr>
  <tr *ngFor="let res of res">
    <td>{{res.matchday}}</td>
    <td>{{formatWinner(res.score.winner)}}</td>
    <td>{{res.homeTeam.name}}</td>
    <td>{{res.score.fullTime.homeTeam}}</td>
    <td>{{res.awayTeam.name}}</td>
    <td>{{res.score.fullTime.awayTeam}}</td>
  </tr>
</table>
