/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Arial Black", Gadget, sans-serif;
}

h2 {
  text-align: center;
  font-size: 26px;
}

table{
	margin: 30px auto;
  border: 1px solid #1C6EA4;
	border-collapse: collapse;
	text-align: center;
}

th, td {
    padding: 10px;
    border: 1px solid #AAAAAA;
}

table tr:nth-child(even) {
  background: #D0E4F5;
}

th{
	background-color: black;
	color: #FFFFFF;
}
